@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
	border: 1px solid red;
}

.debug > * {
	border: 1px solid green;
}

.debug > * {
	border: 1px solid blue;
}
